.App {
  text-align: center;
  align-items: center;
  background-color: rgb(61, 136, 71);
  font-variant: small-caps;
  font-family: monospace;
  font-size:large;
  padding: 5px;
}

h1{
  font-size: xxx-large;
}

#review-image{
  width: 200px;
  height: 133px;
}

ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.listed-review{
  border: 2px solid black;
  border-radius: 15px;
  width: 300px;
  margin: 10px;
  background-color: rgb(181, 217, 146);
}

.single_review_image{
  width: 80%;
  height: auto;
}

.comment_list{
  border: 2px solid black;
  margin: 15px;
  border-radius: 10px;
  width: 80%;
  height: auto;
  background-color: rgb(181, 217, 146);
}

@media only screen and (min-width: 768px) {

  .App {
    text-align: center;
    background-color: rgb(61, 136, 71);
    font-variant: small-caps;
    font-family: monospace;
    font-size:xx-large;
  }

  .single_review_image{
    width: 80%;
    height: auto;
  }

  .listed-review{
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    margin: 10px
  }

  #review-image{
    width: 300px;
    height: 200px;
  }

  ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

}